<h1>Users</h1>
<p>
    <a class="btn btn-primary" routerLink="/users/new">Add User</a>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td><a [routerLink]="[ '/users', user.id ]"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i></a></td>
      <td><i class="glyphicon glyphicon-remove clickable" (click)="deleteUser(user)" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>